/* Navbar */
/* remember that we are using ml-auto in the div with the links to align the links on the right side of the navbar*/
#home {
  margin-left: 4rem;
}

#home:hover {
  color: #11f680;
}

#about {
  margin-right: 32rem;
}

#about:hover {
  color: #11f680;
}

#share {
  color: white;
  margin-right: 4rem;
}

#share i {
  font-size: 1.1rem;
  margin: 0 0.3rem;
}

#share i:hover {
  color: #11f680;
}

/* carousel */
.title-description {
  text-align: center;
  margin-top: 2rem;
}

.quiz-carousel {
  border: 3px solid black;
  margin: 2rem 10rem;
}

.question {
  margin: auto;
  padding: 6rem;
  width: 40rem;
  height: 28rem;
}

#conclusion {
  margin: auto;
  padding: 4rem;
  width: 24rem;
  height: 28rem
}

.carousel-control-prev i {
  color: black;
}

.carousel-control-next i {
  color: black;
}

/* Carousel Indicator Numbers*/
.carousel-indicators-numbers .ind-num {
  color: black;
  font-size: 14px;
  text-indent: 0;
  text-align: center;
  line-height: 30px;
  margin: 0 2px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  background-color: white;
  transition: all 0.25s ease;
}
.carousel-indicators-numbers li.active, .carousel-indicators-numbers li:hover {
  margin: 0 2px;
  width: 30px;
  height: 30px;
  background-color: #11f680;
}

.play-again {
  text-align: center;
}

/* Donate Section */
.donation {
  text-align: center;
  padding-bottom: 2rem;
}

/* Conclusion Slide */
#conclusion {
  display: flex;
  justify-content: center;
  align-items: center;
}

#explanation {
  display: flex;
  justify-content: center;
  align-items: center;
}
